/* GENERAL STYLE */
/* Reset */

* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-family: sans-serif;
    background-color: black
}

/* Numbers */
.number-conteiner {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-items {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 5px;
}

.number-items p {
    font-size: 50px;
}

.d-none {
    display: none
}

/* timer cont */
.timer-cont {
    width: 100%;
    height: 30vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;;
}